body {
  margin: auto;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Abel",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFF9D2;
  /*background-image: url('images/sukhothai.jpg');*/
  /*width: 100%;
  background-repeat: no-repeat;
  background-size: cover cover;
  background-position: center;*/
  /*background-attachment: fixed;*/
}
body:after {
  content: "";
  background: url('images/bar.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
div#root {
  background-image: none;
  /*background-color: #00000070;*/
}
/*div#root:hover {
  opacity: 1;
}*/
div.container {
  margin-right: 0;
  margin-left: 0;
  padding: 0;
  width: 100%;
}
.container:after {
  /*width: 100%;*/
}
ol.breadcrumb, div.navbar-row {
	background-color: #C9A916;
  padding-bottom: 20px;
  margin-bottom: 20px;
  /*text-align: right;*/
}
div.navbar-row {
	width: 100%;
  margin: 0;
}
a {
	color: white;
  transition: color .3s;
}
li {
	padding: 5px;
}
h2 {
	font-size: 2.1em;
	text-align: left;
}
a:hover{
  text-decoration: none;
  color: #c5161d;
}
img.nav-icon {
  width: 100%;
  transition: width .4s;
}
img.nav-icon:hover {
  width: 110%;
}
div.col-md-auto {
  margin: auto;
  text-align: center;
}
img.nav-icon {
  margin-top: 10px;
}
img.homepage-icon {
  left: 0;
  top: 0;
  position: fixed;
  padding: 15px;
  background-color: white;
  width: 15em;
  transition: width .5s;
}
img.homepage-icon:hover {
  width: 20em;
}